$body-color: #f5f5f5;
$font-stack-Quicksand: "Quicksand";
$font-stack-Nunito: "Nunito";
$nav-links-color: #1d1d1d;
$btn-color: #377dff;
$opacity-colorp: #464646;

$border-round-icon: rgba(0, 0, 0, 0.1);

$box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
$box-shadow-balls: 0px 3px 20px rgba(0, 0, 0, 0.05);
$box-shadow-btn: 0px 4px 8px rgba(55, 125, 255, 0.5);

$linear-grad-blue-ball: linear-gradient(180deg, #4485ffcc 0%, #377dff 100%);
$linear-grad-red-ball: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
