@import "media.scss";
@import "config.scss";
@import "mixins.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: $body-color;
  // width: 100vw;
  height: 100%;
}

header,
main {
  padding: 0 6.35rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
  @media only screen and (max-width: 480px) and (min-width: 320px) {
    padding: 0;
  }
}

// Navigation

.navbar {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $font-stack-Quicksand;
  padding: 2rem 24px;

  @media screen and (max-width: 768px) {
    height: 33px;
  }

  .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: $nav-links-color;
  }
  .nav-link:hover {
    transition: 0.2s ease-in;
    font-weight: 900;
  }
  .nav-branding {
    cursor: pointer;
    padding-right: 1rem;
  }
  .nav-btn {
    padding-left: 1rem;
    button {
      border: 1px solid $btn-color;
      border-radius: 24px;
      width: 150px;
      height: 40px;
      cursor: pointer;
      font-family: $font-stack-Quicksand;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $btn-color;
    }
    button:hover {
      background-color: $btn-color;
      transition: 0.4s ease-in;
      color: $body-color;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    color: $nav-links-color;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: $nav-links-color;
  }

  .nav-menu {
    display: flex;
    // flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    .nav-item {
      padding: 0 2rem;
    }
  }

  @media only screen and (max-width: 480px) and (min-width: 320px) {
    .nav-branding {
      img {
        width: 100px;
        height: 35px;
      }
    }

    .hamburger {
      .bar {
        height: 0.1rem;
        width: 20px;
      }
    }
  }
}

// Hero section
.hero {
  font-family: $font-stack-Nunito;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 11rem;

  @media only screen and (max-width: 480px) and (min-width: 320px) {
    width: 100%;
  }

  &-img-primary {
    width: 100%;
  }

  &-imgs {
    position: relative;

    .mob-grid-hero-1 {
      position: absolute;
      left: 50px;
      z-index: -1;
    }
    .mob-grid-hero-2 {
      position: absolute;
      left: 50px;
      z-index: -1;
    }
    .star-icon {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .img-small-left {
    width: 190px;
    position: absolute;
    padding: 1rem;
    text-align: center;
    // width: 25%;
    height: 95px;
    left: -113px;
    top: 24px;
    background: $body-color;
    box-shadow: $box-shadow;
    border-radius: 16px;

    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.01em;
      width: 166px;

      color: $nav-links-color;
    }
  }

  .img-small-right {
    position: absolute;
    width: 150px;
    height: 160px;
    right: -110px;
    bottom: -15px;
    padding-top: 9px;

    background: $body-color;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 16px;

    &-top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 12px;

      img {
        padding: 0 10px;
        width: 50px;
      }
    }

    ul {
      .hero-small-title {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
      }
      .hero-small-subtitle {
        font-weight: 600;
        font-size: 6px;
        line-height: 8px;
        letter-spacing: 0.01em;
        color: $nav-links-color;
        opacity: 0.5;
      }
    }
    p {
      padding: 1rem;
      width: 150px;
      height: 70px;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.01em;

      color: $nav-links-color;
    }
  }

  &-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

    h1 {
      width: 60%;
      padding-bottom: 1.5rem;
      font-weight: 800;
      font-size: 64px;
      line-height: 87px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $nav-links-color;
    }

    p {
      padding-bottom: 2rem;
      font-weight: 400;
      width: 50%;
      font-size: 20px;
      line-height: 150%;

      text-align: center;
      letter-spacing: 0.01em;

      color: $opacity-colorp;
      opacity: 0.6;
    }

    // Balls decoration
    .blue-ball {
      @include blue-ball;
    }

    .blue-ball-1 {
      @include blue-ball-1;
    }

    .red-ball {
      @include red-ball;
    }

    .red-ball-1 {
      @include red-ball-1;
    }

    button {
      width: 201px;
      height: 48px;
      background: $btn-color;
      border: none;
      box-shadow: $box-shadow-btn;
      border-radius: 24px;
      cursor: pointer;

      color: $body-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
    }
    button:hover {
      background-color: $body-color;
      color: $btn-color;
      transition: 0.4s ease-in;
    }
  }
}

// About US seection

.about-us {
  font-family: $font-stack-Quicksand;
  padding-bottom: 11rem;
}

.about-us-head {
  text-align: center;
  width: 100%;

  p {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #377dff;
    padding-bottom: 0.3em;
    width: 100%;
  }

  h3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 0.003em;
    color: #1d1d1d;
    padding-bottom: 1em;
  }
}
.about-us-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  .about-us-info {
    padding-left: 5%;
    font-family: $font-stack-Quicksand;
    font-style: normal;
    width: 610px;
    @media only screen and (max-width: 480px) and (min-width: 320px) {
      width: 360px;
    }
    p {
      width: 100%;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;

      letter-spacing: 0.01em;
      color: $opacity-colorp;
      padding-bottom: 1.5em;
    }
    .button-about-block {
      display: flex;
      flex-direction: row;
    }

    .about-us-btn-left {
      padding: 12px 48px;
      gap: 10px;
      width: 171px;
      height: 48px;
      border: none;
      background: $btn-color;
      box-shadow: $box-shadow-btn;
      border-radius: 24px;
      cursor: pointer;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $body-color;

      @media only screen and (max-width: 480px) and (min-width: 320px) {
        padding: 10px 35px;
        // gap: 10px;

        width: 124px;
        height: 38px;
        line-height: 15px;
        font-size: 12px;
      }
    }

    .about-us-btn-left:hover {
      background-color: $body-color;
      color: $btn-color;
      transition: 0.4s ease-in;
    }

    .about-us-btn-right {
      position: relative;
      width: 171px;
      height: 48px;
      border: 1px solid $btn-color;
      border-radius: 24px;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $btn-color;
      cursor: pointer;
      padding-left: 0.7rem;
      margin-left: 25px;

      img {
        position: absolute;
        left: 13%;
        top: 25%;
      }
      @media only screen and (max-width: 480px) and (min-width: 320px) {
        padding: 10px 35px;
        // gap: 10px;

        width: 130px;
        height: 38px;

        font-size: 12px;
        line-height: 15px;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    place-content: center;

    .about-us-img {
      // width: 100%;
      text-align: center;
      img {
        width: 100%;
      }
    }

    .about-us-info {
      padding-bottom: 5rem;
      // width: 100%;
      p:first-child,
      p:last-child {
        width: 100%;
      }

      .button-about-block {
        justify-content: center;
      }
    }
  }
}

// Our Services Section

.our-services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
  font-family: $font-stack-Quicksand;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;

    padding-bottom: 5rem;

    .our-services-info {
      display: flex;
      flex-direction: column;
      place-items: center;
      text-align: center;
    }
  }

  &-info {
    .our-services-pblue {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $btn-color;
      padding-bottom: 1.4rem;
    }
    h3 {
      font-family: $font-stack-Nunito;
      font-style: normal;
      width: 419px;
      font-weight: 700;
      font-size: 55px;
      line-height: 130%;
      letter-spacing: 0.003em;
      color: $nav-links-color;
      padding-bottom: 1rem;
    }

    .our-services-paragraph {
      font-family: $font-stack-Quicksand;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: $opacity-colorp;
      width: 520px;
      padding-bottom: 2rem;
    }
    button {
      // float: right;
      font-family: $font-stack-Quicksand;
      font-style: normal;
      font-size: 20px;
      line-height: 34px;
      border: none;
      letter-spacing: 0.01em;
      background-color: $body-color;
      cursor: pointer;
      padding-right: 1.5rem;

      color: $btn-color;
    }
    button:hover {
      transition: 0.3s ease-in;
      color: $opacity-colorp;
      font-weight: 700;
    }
  }
}

.our-services-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 4rem;
}

.our-services-card {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  height: 265px;
  text-align: center;
  background: $body-color;
  border: 1px solid $border-round-icon;
  box-shadow: 4px 4px 30px $border-round-icon;
  border-radius: 30px;

  p {
    width: 170px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $nav-links-color;
  }

  .round-icon-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 400;
    border: 1px solid $border-round-icon;
    color: $body-color;
    background: $btn-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  .round-icon-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 400;
    border: 1px solid $border-round-icon;
    color: $body-color;
    background: #ff2d2d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  .round-icon-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 400;
    border: 1px solid $border-round-icon;
    color: $body-color;
    background: #7ce761;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  .round-icon-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 400;
    border: 1px solid $border-round-icon;
    color: $body-color;
    background: #ffa800;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
}

// Our Portfolio
.our-portfolio {
  font-family: $font-stack-Quicksand;
  padding-bottom: 11rem;
  width: 100%;
  &-decorations {
    @include decorations;
  }
  &-decorations-1 {
    @include decorations-1;
  }
}
.our-portfolio-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(1, auto);
    place-items: center;

    .img-2 {
      padding-left: 1rem;
    }
  }
}
.our-portfolio-img {
  padding: 2rem;
  position: relative;

  .img-2 {
    margin-top: 2rem;
  }
  p {
    position: absolute;
    bottom: 90px;
    left: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.003em;
    color: $body-color;
  }
}

.our-portfolio-btn {
  text-align: center;
  button {
    padding: 12px 50px;
    width: 226px;
    height: 48px;
    border: 1px solid $btn-color;
    border-radius: 24px;
    cursor: pointer;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $btn-color;
  }

  button:hover {
    background-color: $btn-color;
    color: $body-color;
    transition: 0.4s ease-in;
  }
}

.our-portfolio-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  p:first-child {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $btn-color;
    padding-bottom: 0.3em;
  }

  p:last-child {
    width: 43rem;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }

  h3 {
    font-family: $font-stack-Nunito;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 0.003em;
    color: $opacity-colorp;
    padding-bottom: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 40px;
    }

    p:last-child {
      width: 85%;
    }
  }
}

// Testimonials section

.testimonials {
  font-family: $font-stack-Quicksand;
  font-style: normal;
  margin-bottom: 15rem;

  &-gallery {
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      place-items: center;
    }

    .testimonials-gridofdots {
      @include testimonials-span-1;
    }

    span {
      @include testimonials-span;
    }
  }

  &-items {
    display: flex;
    align-items: center;
  }
  &-img {
    padding-right: 1rem;
  }
  &-card {
    margin: 2rem;
    font-family: $font-stack-Quicksand;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    width: 335px;
    height: 335px;
    background: $body-color;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    p {
      width: 309px;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $opacity-colorp;
      opacity: 0.8;
    }
  }
}

.testimonials-items {
  padding-bottom: 1rem;
}

.testimonials-li-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: $btn-color;
}
.testimonials-li-subtitle {
  font-weight: 400;
  font-size: 11px;

  letter-spacing: 0.01em;
  color: $opacity-colorp;
  opacity: 0.5;
}

.collaboration {
  font-family: $font-stack-Nunito;
  font-style: normal;
  padding-bottom: 11rem;

  @media screen and (max-width: 1024px) {
    span {
      display: none;
    }
    .collaboration-gallery {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-info {
    padding-top: 2rem;
    h3 {
      width: 491px;
      font-weight: 700;
      font-size: 55px;
      line-height: 75px;
      letter-spacing: 0.003em;
      color: $nav-links-color;
      padding-bottom: 1.5rem;
    }

    p {
      font-family: $font-stack-Quicksand;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0.01em;
      color: $opacity-colorp;
      padding-bottom: 1.5rem;
    }

    button {
      gap: 10px;
      width: 171px;
      height: 48px;
      border: none;
      background: $btn-color;
      box-shadow: $box-shadow-btn;
      border-radius: 24px;
      cursor: pointer;

      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $body-color;
    }

    button:hover {
      background-color: $body-color;
      color: $btn-color;
      transition: 0.4s ease-in;
    }

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      place-items: center;

      h3 {
        width: 80%;
        text-align: center;
        padding-top: 2rem;
      }
    }
  }

  &-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.collaboration-gallery {
  padding-left: 7.5rem;
  position: relative;
  &-img-1 {
    position: relative;
    margin-right: -40px;
    width: 325px;
    height: 288px;
  }
  &-img-2 {
    width: 325px;
    height: 288px;
    margin-bottom: 80px;
  }
}

// Grid of dots decoration

.collaboration-gridofdots-1 {
  @include collaboration-gridofdots-1;
}
.collaboration-gridofdots-2 {
  @include collaboration-gridofdots-2;
}

// Footer section

.footer {
  a {
    text-decoration: none;
    color: $body-color;
  }
  padding-top: 7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #383638;
  width: 100%;
  color: $body-color;

  &-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 3rem;
  }
  @media screen and (max-width: 1024px) {
    .footer-items {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 2rem;
    }
    .footer-social {
      display: grid;
      grid-template-columns: repeat(5, auto);
      font-size: 12px;
    }
  }
  @media screen and (max-width: 415px) {
    .footer-items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .footer-social {
      .footer-social-radius {
        margin: 0;
        margin: 10px;
      }
    }
  }
}

.footer-li {
  font-family: $font-stack-Quicksand;
  font-style: normal;
  font-size: 16px;
  line-height: 38px;
  color: $body-color;
}

.footer-head {
  font-weight: 700;
  font-size: 20px;
}

.logo-footer {
  width: 187px;
  height: 88px;
  left: 103px;
  top: 5160px;
  background: $body-color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  .footer-social-radius {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 1.5rem;
  }
}

.footer-copyright {
  font-family: $font-stack-Quicksand;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $body-color;
  padding: 2rem 0;
  text-align: center;
}
